<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <h1>Welcome to the Index Page</h1>
        <button type='button' v-on:click='getExample'>Get The Posts</button>
        <h3>[[ message ]]</h3>
        <div v-for='post in output'>
            [[post.title]]

        </div>
    </div>
    <!-- Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <!-- Axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script>
        let app = new Vue({
            el: '#app',
            delimiters: ['[[', ']]'],
            data: {
                message: 'hello',
                output: [],
            },
            methods: {
                getExample: function() {
                    const myOptions = {
                        method: 'GET',
                    };
                    fetch('get_posts', myOptions)
                    .then((res) => res.json())
                    .then((res) => {
                        console.log(res.posts)
                        this.output = res.posts
                    })
                },
            }
        })
    </script>
</body>

</html>