html,body {
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(29, 110, 192);
}

textarea {
    background-color: #21623e;
    resize: none;
    width: 95%;
    height: 95%;
    caret-color: white;
    color: white;
    font-size: large;
    border: 0;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    /* cursor: pointer; */
}


.container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
}


.popup{
    display: none;
    position: absolute;
    border: 1px solid #ffdef3;
    background-color: #ff61be;
    height: 20rem;
    width: 10rem;
    flex-direction: row;
    top: 75px;
    right: 75px;
}

.popleft {
    display: flex;
    /* border: 1px solid black; */
    height: 20rem;
    width: 6rem;
    flex-flow: column wrap;
    justify-content: center;
    font-size: 1rem;
    align-items: center;
}

.popright{
    /* border: 1px solid black; */
    display: flex;
    height: 20rem;
    width: 4rem;
    flex-flow: column wrap;
    justify-content: center;
}

.spacer{
    margin-top: 2.5px;
    margin-bottom: 2.5px;
}

header {
    display: flex;
    flex-direction: row;
    background-color: #ffdef3;
    align-items: center;
    justify-content: center;
}

#settings-btn {
    position: absolute;
    background-color: #ff61be;
    right: 5rem;
}

img{
    width: 3.2rem;
    height: 3.3rem;
}