html,body {
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    height: 100%;
    background-color: #00c2ba;
}
h1 {
    font-family: 'Fuzzy Bubbles', cursive;
    font-size: 2.7rem;
}

textarea {
    background-color: #037a90;
    resize: none;
    width: 95%;
    height: 95%;
    caret-color: white;
    color: #ff8fcf;
    font-size: 14px;
    border: 0;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}


.container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
}


.popup{
    display: none;
    border: 1px solid black;
    position: absolute;
    background-color: #ff61be;
    height: 15rem;
    width: 16rem;
    flex-direction: row;
    top: 75px;
    right: 75px;
}

.popleft {
    /* border: 1px solid black; */
    display: flex;
    height: 15rem;
    width: 8rem;
    flex-flow: column wrap;
    justify-content: center;
    font-size: 1rem;
    align-items: center;
}

.popright{
    /* border: 1px solid black; */
    display: flex;
    height: 15rem;
    width: 8rem;
    flex-flow: column wrap;
    justify-content: center;
}

.spacer{
    margin-top: .1rem;
    margin-bottom: .1rem;
}

header {
    display: flex;
    flex-direction: row;
    background-color: #ce96fb;
    align-items: center;
    justify-content: center;
}

#settings-btn {
    position: absolute;
    right: 5rem;
}

.hat{
    width: 3.2rem;
    height: 3.3rem;
    transform: rotate(-3deg);
}

.dropdown {
    width: 7rem;
    height: 1.1rem;
    margin-bottom: .25rem;
    border-radius: .3rem;
}

.color-picker {
    visibility: hidden;
}

.color-wrapper {
    /* background: linear-gradient(to bottom right, red, orange, yellow, green, blue, violet); */
    height: 1.1rem;
    width: 7rem;
    border: .03rem solid black;
    border-radius: .3rem;
    /* box-shadow: 1px 4px 10px black; */
    margin-bottom: .25rem;
  }