{% extends 'blog/base.html' %}

{% block content %}
<div class="container">
    <h1>Login Here</h1>
    {% if display %}
    <div>{{display}}</div>
    {% endif %}
    <form action="{% url 'users:login_user' %}" method='post'>
        {%csrf_token%}
        <input type="text" name="username" placeholder="Enter you username"/>
        <input type="password" name="password" placeholder = "password"/>
        <button type="submit" class="btn btn-info create-account">Go</button>
    </form>
    <div>
       <span class="title">Don't have an account yet? </span> 
        <a class="links" href="{% url 'users:register_user' %}">Create an Account</a>
    </div>
</div>
{% endblock %}