{% extends 'blog/base.html' %}

{% block content %}
<div class="container">
    <h1>Login Here</h1>
    {% if display %}
    <div class="smaller-title">{{display}}</div>
    {% endif %}
    <form action="{% url 'users:login_user' %}" method='post'>
        {%csrf_token%}
        <input class="smaller-title" type="text" name="username" placeholder="Enter you username"/>
        <input class="smaller-title" type="password" name="password" placeholder = "password"/>
        <button type="submit" class="btn btn-info login-go-button">Go</button>
    </form>
    <div>
       <span class="smaller-title">Don't have an account yet? </span> 
        <a class="smaller-links" href="{% url 'users:registration' %}">Create One Here!</a>
    </div>
</div>
{% endblock %}