
.container {
    margin-top: 75px;
    text-align: center;
    max-width: 250px;
}

#div_output {
    border: 1px solid black;
    border-radius: 5px;
    height: 35px;
    max-width: 250px;
    margin: 0 auto;
    background-color: whitesmoke;
}

#input_password_length {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    background-color: whitesmoke;
}

#btn_get_password {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px 8px 5px 8px;
    margin: 20px 20px;
}

body {
    background-image: url("images/lock-background.jfif");
    background-size: cover; 
}