<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <title>urlshortener</title>
</head>

<body>
    <div class="container">
        <h1>URL Shortener </h1>
        <form action="{% url 'tinyurl:saving' %}" method="post">
            {% csrf_token %}
            <div class="row">
                <!-- Long URL Input  -->
                <div class="col-md-9 mb-3">
                    <label for="longurl" class="form-label">Enter your long URL here</label>
                    <input type="text" name="longurl" class="form-control" id="longurl" placeholder="your url here">
                </div>
                <!-- Go Button  -->
                <div class="col-md-3">
                    <button type="submit" class="btn btn-info">Go</button>
                </div>
            </div>
        </form>

        {% for url in url_history %}
        <div class="row">
            <div class="col-md-6">
                {{url.url}}
            </div>
            <div class="col-md-6">
                {{url.code}}
            </div>
        </div>
        {% endfor %}

    </div> {% comment %} closes container  {% endcomment %}
    <!--  Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
</body>

</html>