{% load static %}

<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

  <!-- Static CSS  -->
  <link rel="stylesheet" type="text/css" href="{% static 'todoapp/style.css' %}">
  <title>To Do List</title>

  <!-- Fonts  -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Heebo&family=Mukta:wght@300&family=Noto+Sans+HK&display=swap" rel="stylesheet">
</head>



<body>
  <h1 class="text-center">To Do List</h1>
  <div class="container">
    <!-- Adding a new item to the todo list  -->
    <form action="{% url 'todoapp:saveitem' %}" method="post">
      {% csrf_token %}
      <div class="row">
        <div class="mb-3">
          <label for="newitem" class="form-label standard">New Todo Item</label>
          <input type="text" name="text" class="form-control standard" id="newitem" aria-describedby="emailHelp">
        </div>
      </div>

      <!-- Select a priority -->
      <div class="row">
        <div class="col-md-10">
          <select name="priority" class="form-select standard" aria-label="Default select example">
            <option selected disabled value="">Select the Priority</option>
            {% for priority in priorities %}
            <option value="{{priority.id}}">{{priority.name}}</option>
            {% endfor %}
          </select>
        </div>

        <!-- Add New Item Button  -->
        <div class="col-md-2">
          <button type="submit" class="btn btn-info add-button">Add</button>
        </div>
      </div>
    </form>
    <hr>

    <!-- The Todo List  -->
    <h2>To Do</h2>
    <div class="row mt-3">
      <span class="col-md-3 standard">Item</span>
      <span class="col-md-3 standard">Priority</span>
      <span class="col-md-3 standard">Delete Item</span>
      <span class="col-md-3 standard">Mark as Complete</span>
    </div>
    <hr>
    {% for item in todo_items %}
    <div class="row mt-2">
      <!-- Todo Items  -->
      <div class="col-md-3 standard">
        {{ item.text }}
      </div>
      <!-- Item Priority  -->
      <div class="col-md-3 standard">
          {{ item.priority}}
      </div>
      <!-- Delete Button  -->
      <div class="col-md-3">
        <a class="btn btn-danger delete-button" href="{% url 'todoapp:delete' item.id %}">Delete</a>
        {% csrf_token %}
      </div>
      <!-- Complete Button  -->
      <div class="col-md-3">
        <a class="btn btn-primary done-button" href="{% url 'todoapp:complete' item.id%}">Done</a>
      </div>
      <hr class="mt-2">
    </div>
    {% endfor %}

    <!-- The Completed List  -->
    <h2 class="mt-5">Completed</h2>
    {% for item in completed_items %}
    <div class="row mt-3">
      <!-- completed item  -->
      <div class="col-md-3">
        {{ item.text }}
      </div>
      <!-- priority of completed item  -->
      <div class="col-md-3 standard">
        {{ item.priority}}
      </div>
      <!-- delete button (completed list) -->
      <div class="col-md-3">
        <a class="btn btn-danger delete-button" href="{% url 'todoapp:delete' item.id %}">Delete</a>
      </div>
      <div class="col-md-3">
        {{ item.completed_date }}
      </div>
      <hr>
    </div>
    {% endfor %}

  </div>
  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"></script>
</body>

</html>