
.header {
    background-color: #80d0d3;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 10px;
}

.welcome-user {
    font-size: 25px;
    font-family: 'Akaya Telivigala', cursive; 
    max-width: 210px;
}

.base-logout {
    font-size: 25px;
    font-family: 'Akaya Telivigala', cursive; 
    color: #3d977c;
    max-width: 150px;
}

.site-title {
    font-family: 'Laila', sans-serif;
    font-size: 25px; 
}

.post-title {
    font-size: 20px;
    font-family: 'Akaya Telivigala', cursive; 
}

.smaller-title {
    font-size: 18px;
    font-family: 'Akaya Telivigala', cursive; 
    color: black !important;
}

.links {
    font-size: 25px;
    font-family: 'Akaya Telivigala', cursive; 
    color: #3d977c;
}

.smaller-links {
    color: #3d977c;
    font-family: 'Akaya Telivigala', cursive; 
    margin-bottom: 15px;
}

.profile-title-links {
    font-size: 25px;
    font-family: 'Akaya Telivigala', cursive; 
    color: #3d977c;
}

.navigation-options {
    font-family: 'Akaya Telivigala', cursive; 
}

.navigation-unicode-lines {
    color: black;
}

.dropdown-menu-background {
    background-color: #e4eeeb;
}

.edit-button {
    height: 40px;
    background-color: #F8A910;
    width: 80px;
    border-radius: 4px;
    font-family: 'Akaya Telivigala', cursive; 
    margin-right: 12px;
}

.warning-message {
    font-size: 18px;
    font-family: 'Akaya Telivigala', cursive; 
    color: #3d977c !important;
}

.login-go-button {
    max-height: 33px !important;
    margin-bottom: 3px;
    padding-bottom: 23px;
}

html, body {
    margin: 0;
    height: 100%;
    background-color: #EAE8E0;
}

h1 {
    font-family: 'Laila', sans-serif;}

h2 {
    font-family: 'Akaya Telivigala', cursive;}


h2 a {
    font-family: 'Akaya Telivigala', cursive; 
    color: black;}

a {
    text-decoration: none;}


p {
    /* font-family: 'Sunflower', sans-serif; */
    font-family: 'Akaya Telivigala', cursive; }

button {
    font-size: 20px;
    font-family: 'Akaya Telivigala', cursive; 
    background-color: #F8A910!important;
    border-color: #F8A910 !important;
}

img {
    max-width: 200px;
    
}

footer {
    background-color: #BDDFE3;
    font-family: 'Akaya Telivigala', cursive;
    font-size: 18px;
    height: 130px;
    text-align: center;
}












/* h1 a, h2 a {
    color: #f8b483;
    font-family: 'Lobster', cursive;
}

.page-header {
    background-color: rgb(80, 141, 255);
    width: 100%;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
    width: 100%;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h2 a, .post h2 a:visited {
    color: #000000;
}

body {
    padding-left: 15px;
} */
