h1 {
    font-family: 'Lexend Mega', sans-serif;
}


.go-button {
    font-family: 'Rubik', sans-serif;
    margin-top: 33px;
    background-color:royalblue;
    border-color: #000000;
    color: white;
    width: 50%;
}

.standard-font {
    font-family: 'Rubik', sans-serif;
}

.delete-button {
    font-family: 'Rubik', sans-serif;
    background-color: #702c5cef;
    border-color: black;
    color: rgb(255, 255, 255);
}

.copy-button {
    font-family: 'Rubik', sans-serif;
    background-color: rgb(85, 130, 148);
    border-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}