{% extends 'blog/base.html' %}

{% block content %}


<div class="content container">
    {% for post in posts %}
    <div class="row">
        <div class="col-md-8">
            <div>
                <div>
                    <h2><a href="{% url 'blog:post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
                </div>
                <p class="post-title">Author: {{ post.author }}</p>
                <div>
                    <p>Published: {{ post.published_date }}</p>
                </div>
                {% if post.image %}
                <img src="{{ post.image.url }}">
                {% endif %}
                <p>{{ post.text|truncatechars:50 }} <a href="{% url 'blog:post_detail' pk=post.pk %}">Read More</a></p>
            </div>
        </div>
    </div>
    <hr>
    {% endfor %}
</div>
{% endblock %}

<a href="{% url 'blog:post_detail' pk=post.pk %}">Read More</a>