{% extends 'blog/base.html' %}

{% block content %}


<div class="content container">
    {% for post in posts %}
    <div class="row">
        <div class="col-md-8">
            <div>
                <div>
                    <h2><a href="{% url 'blog:post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
                </div>
                <p>Author: {{ post.author }}</p>
                <div>
                    <p>Published: {{ post.published_date }}</p>
                </div>
                <p>{{ post.text|linebreaksbr }}</p>
            </div>
        </div>
    </div>
    <hr>
    {% endfor %}
</div>
{% endblock %}